<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>交通費生産的なアレ</title>
  </head>
  <body>

<div class="container">

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">交通費精算的なアレ</span>
</nav>

<h2>WELCOME: {{ username }}</h2>

<div>
	このあたりに色々値を埋め込んでいけるはず<br/>
	使用テンプレートはbottle
</div>
<div>

<form action="/search" method="post">
    <div class="form-group">
        <label for="Fstation">出発駅</label>
        <input type="text" class="form-control" name="Fstation" aria-describedby="出発駅">
    </div>
    <div class="form-group">
        <label for="Lstation">到着駅</label>
        <input type="text" class="form-control" name="Lstation" aria-describedby="出発駅">
    </div>
    <div class="form-group">
        <label for="comment">その他不明点</label>
        <textarea class="form-control" name="comment" rows="5" cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">検索</button>
</form>
</div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
